ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
}
.active {
    background-color: #000;
}
li a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:nth-child(2) a {
    color: red;
}
li:nth-child(3) a {
    color: green;
}
li:nth-child(4) a {
    color: blue;
}